$primary-color:#23A6F0;
// $primary-color:#42B04B;
// $primary-color: pink;
$primary-font-family:'Roboto';
$secondary-font-family: 'Poppins';
$grey-color:rgb(219, 217, 219);
$light-grey-color:#FAFAFA;
$lavender-color:#FAF4D3;
$app-width:900px;

$bg-color:#fff ;
$menu-item-color:$primary-color;
$login-button-bg-color:$primary-color;
$card-border-color:$grey-color;
$form-bg-color:#fff;